<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <pre>
        Уважаемый {{ name }}!
        Вам предоставлен комплект документов как для «{{ resident }}»,
        а также инструкция для отправки и оформлению грузов.
        После подписания и отправки нам документов по адресу sota24delivery@gmail.com,
        Ваш аккаунт активируется и вы сможете быстро делать заказы на отправку товаров.
        С уважением, Ваш персональный менеджер
        Контакты:
    </pre>
</body>
</html>