{% trans_default_domain 'FOSUserBundle' %}

    {{ form_errors(form.resident) }}
    {{ form_errors(form.organization) }}
    {{ form_errors(form.username) }}
    {{ form_errors(form.phone) }}
    {{ form_errors(form.email) }}
    {{ form_errors(form.plainPassword.first) }}
    {{ form_errors(form.plainPassword.second) }}

<div>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-signin' }}) }}
    <div>
    {{ form_label(form.resident) }}
    {{ form_widget(form.resident) }}
    </div>
    <div>
    {{ form_label(form.organization) }}
    {{ form_widget(form.organization) }}
    </div>
    <div>
    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}
    </div>
    <div>
    {{ form_label(form.phone) }}
    {{ form_widget(form.phone) }}
    </div>
    <div>
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    </div>
    <div>
    {{ form_label(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first) }}
    </div>
    <div>
    {{ form_label(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second) }}
    </div>

    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>

</div>
{{ form_end(form) }}

