

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet" />
{% endblock %}

<div>
    Уважаемый {{ userName }}!
    Для завершения регистрации, выполните инструкции,
    отправленные на Ваш email: {{ email }}
</div>