{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-warning">
        <h3><span class="label label-warning">
            {{ error.messageKey|trans(error.messageData, 'security') }}
            </span>
        </h3>
    </div>
{% endif %}
<div>
    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        <h3 class="form-signin-heading">Авторизация</h3>

        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}

        <input type="text" placeholder="userName" id="username" name="_username" value="{{ last_username }}"
               required="required" autofocus/>

        <input type="password" placeholder="password" id="password" name="_password" required="required"/>

        <p>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </p>
        <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit"
               value="{{ 'security.login.submit'|trans }}"/>
    </form>
</div>

