<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    {% block stylesheets %}
        <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/app/css/singnin.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
</body>